body{
  background-color:pink;
}

.container{
  background-color:black;
  width:auto;
  height:100%;
  margin-top:100px;
}


.bttn {
  margin-top:250px;
  margin-left:200px;
}



#quote-box{
  background-color: blue;
  margin-top:10em;
}