body{
  background-color:black;
}

#quote-box{
  width:60%;
  height:60%;
  background-color:white;
  margin:0 auto;
  position:absolute; 
  left:0; 
  right:0;
  top:0;
  bottom:0;
  margin:auto; 
}

.facebook-button {
  background: url('') left center no-repeat;
  padding-left: 15px;
  margin-top:200px;
  
}
#new-quote{
  float:right;
  margin-right:25px;
  margin-bottom:60px;
}
#twitter_button{
  margin-left:25px;
  text-align:center;
  margin-bottom: 25px
}

#text{
  font-size:20px;;
  text-align:center;
  
}